#!{{ lookPath "fish" }}

echo '
 ___ ___ ___ _  _ ___ ___ 
| __|_ _/ __| || | __| _ \
| _| | |\__ \ __ | _||   /
|_| |___|___/_||_|___|_|_\
'

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher

fisher install danhper/fish-ssh-agent
fisher install decors/fish-colored-man
fisher install franciscolourenco/done
fisher install gazorby/fish-abbreviation-tips
fisher install jethrokuan/z
fisher install jorgebucaran/autopair.fish
fisher install nickeb96/puffer-fish
fisher install PatrickF1/fzf.fish
type nix &>/dev/null && fisher install lilyball/nix-env.fish
