#!{{ lookPath "fish" }}

echo '
 ___ ___ ___ _  _ ___ ___ 
| __|_ _/ __| || | __| _ \
| _| | |\__ \ __ | _||   /
|_| |___|___/_||_|___|_|_\
'

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher

fisher install patrickF1/fzf.fish
fisher install nickeb96/puffer-fish
fisher install jorgebucaran/autopair.fish
fisher install gazorby/fish-abbreviation-tips
type nix &>/dev/null && fisher install lilyball/nix-env.fish
