#!{{ lookPath "bash" }}

set -eufo pipefail

# .config/flavours/config.toml hash: {{ include "dot_config/flavours/config.toml.tmpl" | sha256sum }}

# TODO: auto run
echo "======== Flavours Config changed, run flavours apply"
# flavours apply onedarkx

