#!{{ lookPath "bash" }}

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
newest_aqua_version=v1.30.0

# renovate: depName=aquaproj/aqua-installer datasource=github-releases
newest_aqua_installer_version=v1.2.0

if [ $(command -v aqua) ]; then
  current_aqua_version=$(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/")
else
  current_aqua_version="none"
fi

echo "aqua - newest version $newest_aqua_version - installed version $current_aqua_version"

if [ ! $(command -v aqua) ] || [ $newest_aqua_version != $current_aqua_version ]; then
  echo "installing / upgrading aqua"
  curl -sSfL "https://raw.githubusercontent.com/aquaproj/aqua-installer/$newest_aqua_installer_version/aqua-installer" | \
    bash -s -- -v "$newest_aqua_version" -i {{ .chezmoi.homeDir }}/.local/bin/aqua
fi

# .config/aqua/aqua.yaml hash: {{ include "dot_config/aqua/aqua.yaml.tmpl" | sha256sum }}
aqua install --all
