{{- if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "bash" }}

brew bundle --no-lock --file=/dev/stdin <<EOF
# taps
tap "homebrew/cask-fonts"

# formulas
brew "git"
brew "fish"
brew "python"

# HEAD versions
brew "neovim", args: ["HEAD"]

# casks
cask "linearmouse"
cask "stats"
cask "font-cascadia-code-pl"

EOF

{{ end -}}
