#!{{ lookPath "fish" }}

# Rerun when mise is installed at a later point
# mise path: {{ lookPath "mise" }}

if not type -q mise
  exit
end

echo 'Updating mise tools...'

# ~/.config/mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
mise upgrade

echo 'Updated mise tools'

