{{- if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "bash" }}

brew bundle --no-lock --file=/dev/stdin <<EOF
# taps
tap "homebrew/cask-fonts"

# formulas
brew "bat"
brew "eza"
brew "fd"
brew "fish"
brew "git"
brew "git-delta"
brew "go"
brew "lsd"
brew "node"
brew "npm"
brew "python"
brew "ripgrep"

# HEAD versions
brew "neovim", args: ["HEAD"]

# casks
cask "linearmouse"
cask "stats"
cask "raycast"
cask "font-cascadia-code-pl"
cask "font-jetbrains-mono-nerd-font"
cask "font-commit-mono"
cask "wezterm"

EOF

{{ end -}}
