{{- $gitname := "" -}}
{{- $gitmail := "" -}}

{{- if and (hasKey . "gitname") (hasKey . "gitmail") -}}
{{-   $gitname = .gitname -}}
{{-   $gitmail = .gitmail -}}
{{- else -}}
{{-   $gitname = promptString "Git Name" -}}
{{-   $gitmail = promptString "Git Mail Address" -}}
{{- end -}}

pager = "less -R"

[data]
  gitname = {{ $gitname | quote }}
  gitmail = {{ $gitmail | quote }}

[git]
  autoCommit = false
  autoPush = false
  autoAdd = true

[diff]
  exclude = ["externals", "scripts"]
  pager = "delta"

{{- if lookPath "nvim" }}
[merge]
  command = "nvim"
  args = ["-d"]
{{- end }}

