{{- $gitname := promptStringOnce . "gitname" "Git Name" -}}
{{- $gitmail := promptStringOnce . "gitmail" "Git Mail Address" -}}

{{- $osid := .chezmoi.os -}}
{{- if .chezmoi.osRelease -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{-   end -}}
{{- end -}}

pager = "less -R"
encryption = "age"

[data]
  gitname = {{ $gitname | quote }}
  gitmail = {{ $gitmail | quote }}
  osid = {{ $osid | quote }}

[age]
  identity = "~/.config/sops/age/keys.txt"
  recipient = "age1stwrale0saepk4pydy57pcx5kxrctplctarchd7lp6pmxnydw36q0ml2px"

[git]
  autoCommit = false
  autoPush = false
  autoAdd = true

[diff]
  exclude = ["externals", "scripts"]
  pager = "delta"

{{- if lookPath "nvim" }}
[merge]
  command = "nvim"
  args = ["-d"]
{{- end }}

