@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: FontAwesome, FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  /* padding-top: 3px; */
  /* margin: 5px 0; */
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  /* padding: 0.4rem; */
  background: transparent;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

/* #workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
} */

.modules-left {
  margin-left: 1rem;
}

.modules-right {
  margin-right: 1rem;
}

#workspaces,
#custom-media,
#pulseaudio,
#network,
#cpu,
#memory,
#clock,
#tray {
  background-color: @surface0;
  /* padding: 0.5rem 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* border-radius: 1.5rem; */
}

#workspaces,
#custom-media {
  border-radius: 1.5rem;
}

#pulseaudio {
  border-radius: 1.5rem;
  margin: 0 4px;
}

#network {
  border-radius: 1.5rem 0 0 1.5rem;
  margin-left: 4px;
}

#memory {
  border-radius: 0 1.5rem 1.5rem 0;
  margin-right: 4px;
}

#clock {
  border-radius: 1.5rem;
  margin-left: 4px;
}

