include base16.conf

# Cascadia Code with Cursives, Nerd Font Icons are taken from other font
font_family Cascadia Code PL Regular
bold_font Cascadia Code PL Bold
italic_font Cascadia Code PL Italic
bold_italic_font Cascadia Code PL Bold Italic
font_features CascadiaCodePL-Italic +calt +ss01
font_features CascadiaCodePL-BoldItalic +calt +ss01

# JetBrains Mono
# font_family JetBrainsMono Nerd Font

adjust_line_height 120%
confirm_os_window_close 0
disable_ligatures cursor
enable_audio_bell no
strip_trailing_spaces smart
tab_bar_style powerline
update_check_interval 0
window_padding_width 8

allow_remote_control socket-only
listen_on unix:/tmp/mykitty

tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}{index}: {title}"

map ctrl+alt+1 goto_tab 1
map ctrl+alt+2 goto_tab 2
map ctrl+alt+3 goto_tab 3
map ctrl+alt+4 goto_tab 4
map ctrl+alt+5 goto_tab 5
map ctrl+alt+6 goto_tab 6
map ctrl+alt+7 goto_tab 7
map ctrl+alt+8 goto_tab 8
map ctrl+alt+9 goto_tab 9

{{ if (eq .chezmoi.os "darwin") }}
shell /usr/local/bin/fish --interactive --login
macos_option_as_alt yes
map cmd+shift+t new_tab_with_cwd
font_size 15

# using kitty windows on mac only
window_border_width 2pt
map cmd+enter new_window
map shift+cmd+d close_window
map ctrl+shift+] next_window
map ctrl+shift+[ previous_window

map cmd+w close_window
map cmd+shift+w close_tab
map cmd+j next_window
map cmd+k previous_window
{{ else }}
map ctrl+shift+alt+t new_tab_with_cwd
font_size 12
background_opacity 0.9
dynamic_background_opacity no
{{ end }}

