{{- if lookPath "aqua" }}

registries:
  - type: standard
    ref: v4.78.0 # renovate: depName=aquaproj/aqua-registry
  - name: local
    type: local
    path: registry.yaml

packages:
  - name: FiloSottile/age@v1.1.1
  - name: Schniz/fnm@v1.35.1
  - name: ajeetdsouza/zoxide@v0.9.2
  - name: cilium/cilium-cli@v0.15.11
  - name: derailed/k9s@v0.27.4
  - name: extrawurst/gitui@v0.24.3
  - name: fluxcd/flux2@v2.1.2
  - name: helm/helm@v3.13.1
  - name: jesseduffield/lazygit@v0.40.2
  - name: junegunn/fzf@0.43.0
  - name: koalaman/shellcheck@v0.9.0
  - name: kubernetes-sigs/kustomize@kustomize/v5.2.1
  - name: kubernetes/kubectl@v1.28.3
  - name: mikefarah/yq@v4.35.2
  - name: mozilla/sops@v3.8.1
  - name: starship/starship@v1.16.0
  - name: jqlang/jq@jq-1.7
  - name: stern/stern@v1.26.0
  - name: tilt-dev/tilt@v0.33.6
  - name: wagoodman/dive@v0.11.0

  - name: DopplerHQ/cli@3.66.3
    registry: local

{{- end }}
