{{- if lookPath "aqua" }}

registries:
  - type: standard
    ref: v4.172.0 # renovate: depName=aquaproj/aqua-registry
  - name: local
    type: local
    path: registry.yaml

packages:
  - name: FiloSottile/age@v1.1.1
  - name: Schniz/fnm@v1.35.1
  - name: ajeetdsouza/zoxide@v0.9.4
  - name: cilium/cilium-cli@v0.16.6
  - name: derailed/k9s@v0.32.4
  - name: extrawurst/gitui@v0.26.1
  - name: fluxcd/flux2@v2.2.3
  - name: helm/helm@v3.14.4
  - name: jesseduffield/lazygit@v0.41.0
  - name: junegunn/fzf@0.51.0
  - name: koalaman/shellcheck@v0.10.0
  - name: kubernetes-sigs/kustomize@kustomize/v5.4.1
  - name: kubernetes/kubectl@v1.30.0
  - name: mikefarah/yq@v4.43.1
  - name: mozilla/sops@v3.8.1
  - name: starship/starship@v1.18.2
  - name: jqlang/jq@jq-1.7
  - name: stern/stern@v1.29.0
  - name: tilt-dev/tilt@v0.33.13
  - name: wagoodman/dive@v0.12.0

  - name: DopplerHQ/cli@3.68.0
    registry: local

{{- end }}
