{{- if lookPath "aqua" }}

registries:
  - type: standard
    ref: v2.11.1 # renovate: depName=aquaproj/aqua-registry

packages:
  - name: BurntSushi/ripgrep@13.0.0
  - name: FiloSottile/age@v1.0.0
  - name: Peltoche/lsd@0.21.0
  - name: ajeetdsouza/zoxide@v0.8.1
  - name: derailed/k9s@v0.25.18
  - name: extrawurst/gitui@v0.20.1
  - name: fluxcd/flux2@v0.29.5
  - name: helm/helm@v3.8.2
  - name: jesseduffield/lazygit@v0.34
  - name: junegunn/fzf@0.30.0
  - name: koalaman/shellcheck@v0.8.0
  - name: kubernetes-sigs/kustomize@kustomize/v4.5.4
  - name: kubernetes/kubectl@v1.23.6
  - name: mozilla/sops@v3.7.2
  - name: ogham/exa@v0.10.1
  - name: sharkdp/bat@v0.20.0
  - name: sharkdp/fd@v8.3.2
  - name: starship/starship@v1.6.3
  - name: stedolan/jq@jq-1.6
  - name: stern/stern@v1.21.0
  - name: twpayne/chezmoi@v2.15.2
  - name: wagoodman/dive@v0.10.0

{{- end }}

