* {
    bg-col: #{{base00-hex}};
    bg-col-light: #{{base00-hex}};
    border-col: #{{base00-hex}};
    selected-col: #{{base00-hex}};
    blue: #{{base0D-hex}};
    fg-col: #{{base07-hex}};
    fg-col2: #{{base08-hex}};
    grey: #{{base07-hex}};
    width: 600;
}

