set -l color0 {{base00-hex}}
set -l color1 {{base08-hex}}
set -l color2 {{base0B-hex}}
set -l color3 {{base0A-hex}}
set -l color4 {{base0D-hex}}
set -l color5 {{base0E-hex}}
set -l color6 {{base0C-hex}}
set -l color7 {{base05-hex}}

set -l color8 {{base03-hex}}
set -l color15 {{base07-hex}}

# Syntax Highlighting
set -g fish_color_normal $color5
set -g fish_color_command $color4
set -g fish_color_param $color3
set -g fish_color_keyword $color1
set -g fish_color_quote $color2
set -g fish_color_redirection $color5
set -g fish_color_end $color6
set -g fish_color_error $color1
set -g fish_color_gray $color7
set -g fish_color_selection --background=$color8
set -g fish_color_search_match --background=$color8
set -g fish_color_operator $color5
set -g fish_color_escape $color3
set -g fish_color_autosuggestion $color7
set -g fish_color_cancel $color1

# Prompt
set -g fish_color_cwd $color3
set -g fish_color_user $color6
set -g fish_color_host $color4

# Completion Pager
set -g fish_pager_color_progress $color7
set -g fish_pager_color_prefix $color5
set -g fish_pager_color_completion $color5
set -g fish_pager_color_description $color7

