set -gx color00 '#{{base00-hex}}'
set -gx color01 '#{{base01-hex}}'
set -gx color02 '#{{base02-hex}}'
set -gx color03 '#{{base03-hex}}'
set -gx color04 '#{{base04-hex}}'
set -gx color05 '#{{base05-hex}}'
set -gx color06 '#{{base06-hex}}'
set -gx color07 '#{{base07-hex}}'
set -gx color08 '#{{base08-hex}}'
set -gx color09 '#{{base09-hex}}'
set -gx color0A '#{{base0A-hex}}'
set -gx color0B '#{{base0B-hex}}'
set -gx color0C '#{{base0C-hex}}'
set -gx color0D '#{{base0D-hex}}'
set -gx color0E '#{{base0E-hex}}'
set -gx color0F '#{{base0F-hex}}'

