# if status is-interactive
# Commands to run in interactive sessions can go here
# end

# for file in $__fish_config_fir/custom.d/*.fish
#   source $file
# end

function fish_greeting
    echo
    color-bars
end

function l --wraps exa --description 'ls with exa'
    if type -q exa
        exa --long --color-scale --icons --all --all --group --header --group-directories-first $argv
    else
        ls -alh $argv
    end
end

function ll --wraps exa
    if type -q exa
        exa --all --group-directories-first --icons $argv
    else
        ls -ah $argv
    end
end

functions -c cd orig_cd
function cd
    orig_cd $argv
    exa --all --group-directories-first --icons
end

function md
    mkdir $argv
    cd $argv
end

set -gx EDITOR nvim
set -gx VISUAL nvim
set -gx GPG_TTY (tty)

fish_add_path ~/.local/bin
fish_add_path ~/.npm-global/bin
fish_add_path ~/go/bin

abbr g git
abbr ga 'git add'
abbr gs 'git status'
abbr gc 'git commit'
abbr gco 'git checkout'
abbr gp 'git push'
abbr gpl 'git pull'
abbr gcl 'git clone'
abbr gf 'git fetch'
abbr gdiff 'git diff'
abbr glog 'git log'

if type -q brew
  abbr bi 'brew install'
  abbr bse 'brew search'
  abbr bud 'brew update'
  abbr bug 'brew upgrade'
  abbr bli 'brew list'
end

if type -q timew
  abbr tw 'timew'
  abbr tws 'timew summary :ids'
  abbr twsw 'timew summary :ids :week'
  abbr twsm 'timew summary :ids :month'
end

abbr chz 'chezmoi'
abbr chzd 'chezmoi diff'
abbr chza 'chezmoi apply -v'
abbr chzad 'chezmoi add'
abbr chze 'chezmoi edit'
abbr chzcd 'cd ~/.local/share/chezmoi'

abbr npr 'npm run'

abbr v nvim

abbr k kubectl
abbr kie kubie

set fzf_preview_dir_cmd exa --all --group-directories-first --icons --color=always
set fzf_fd_opts --hidden --exclude=.git --exclude=node_modules

{{- if (eq .chezmoi.os "darwin") }}
#                        OPTION +   f             l                s               p
fzf_configure_bindings --directory="ƒ" --git_log="¬" --git_status="ß" --processes="π"
{{- end }}

{{- if (eq .chezmoi.os "darwin") }}
if type -q asdf; and test -f /usr/local/opt/asdf/libexec/asdf.fish
    source /usr/local/opt/asdf/libexec/asdf.fish
end
{{ end }}

if type -q starship
    starship init fish | source
end

if type -q zoxide
    zoxide init fish | source
end

# if type -q keychain
#     keychain --eval --quiet id_ed25519 | source
# end

if type -q direnv
    direnv hook fish | source
end

