shell = "bash -c '{}'"

# Kitty
[[items]]
file = "~/.config/kitty/base16.conf"
template = "kitty"
subtemplate = "default-256"
rewrite = true

# Fish Theme
[[items]]
file = "~/.config/fish/custom.d/theme.fish"
template = "fish"
subtemplate = "theme"
rewrite = true

# Fish global colors
[[items]]
file = "~/.config/fish/custom.d/global-colors.fish"
template = "fish"
subtemplate = "global-colors"
rewrite = true

{{ if (eq .chezmoi.os "linux") }}
# Qtile
[[items]]
file = "~/.config/qtile/modules/vars.py"
template = "qtile"
start = "# Start flavours"
end = "# End flavours"

# Xresources
[[items]]
file = "~/.Xresources"
template = "xresources"
subtemplate = "default-256"
start = "! Start flavours"
end = "! End flavours"

# dunst
[[items]]
file = "~/.config/dunst/dunstrc.d/colors.conf"
template = "dunst"
rewrite = true
{{- end }}

