format = """
{{- if (eq .chezmoi.os "linux") }}
{{-   if (eq .chezmoi.osRelease.id "arch" ) }}
 \
{{-   end }}
{{- else if (eq .chezmoi.os "darwin") }}
 \
{{- end }}
$username\
$hostname\
$shlvl\
$singularity\
$kubernetes\
$directory\
$vcsh\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$docker_context\
$cmake\
$cobol\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$helm\
$java\
$julia\
$kotlin\
$lua\
$nim\
$nodejs\
$ocaml\
$perl\
$php\
$pulumi\
$purescript\
$python\
$rlang\
$red\
$ruby\
$rust\
$scala\
$swift\
$terraform\
$vlang\
$vagrant\
$zig\
$nix_shell\
$conda\
$fill \
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$env_var\
$crystal\
$custom\
$sudo\
$cmd_duration\
$time\
$line_break\
$jobs\
$battery\
$status\
$shell\
$character"""

add_newline = true

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[✗](bold red)"

[cmd_duration]
min_time = 300

[directory]
format = "[$path]($style)[$read_only]($read_only_style) "
truncation_length = 5
truncation_symbol = "…/"
read_only = " "
home_symbol = " "

[fill]
symbol = "─"
style = "241"

[kubernetes]
disabled = true
format = '[$symbol $context](dimmed green) '
symbol = "⛵"
# [kubernetes.context_aliases]
# "default" = "homelab"

[time]
disabled = false
